.layout {
    margin: 0 auto;
    max-width: 40rem;
    padding: 3rem 1rem;
}

.header {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.header__nav {
    list-style: none;
}
