.fade-enter {
    opacity: 0;
    /*transform: translateX(-100%);*/
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 900ms;
    /*transform: translateX(0);*/
    /*transition: opacity 200ms, transform 200ms;*/
}

.fade-exit {
    opacity: 1;
    /*transform: translateX(0);*/
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 900ms;
    /*transform: translateX(100%);*/
    /*transition: opacity 200ms, transform 200ms;*/
}
