.fade-enter {
    opacity: 0;
    /*transform: translateX(-100%);*/
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms;
    /*transform: translateX(0);*/
    /*transition: opacity 200ms, transform 200ms;*/
}

.fade-exit {
    opacity: 1;
    /*transform: translateX(0);*/
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms;
    /*transform: translateX(100%);*/
    /*transition: opacity 200ms, transform 200ms;*/
}

.releaseSlider {
    flex: 1;
}

.releaseSlider__buttonWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15.25rem;
}

.releaseSlider__button,
.releaseSlider__button:focus {
    opacity: .8;
    background: #000;
    color: rgba(255, 255, 255, .8);
    border: solid rgba(255, 255, 255, .8) 0.0625rem;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.0625rem 0.375rem;
}

.releaseSlider__button:active {
    color: #fff;
    border-color: #fff;
}

.releaseSlider__button:hover {
    border-color: #fff;
}
